<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Vacancies</title>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand"  href="/index">B站番剧分数排名</a>
	</div>

	</div>
</nav>
    {% block content %}
    {% endblock %}
</body>
</html>
