<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon"  href="/static/admin/img/favicon.ico">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>B站番剧分数排名</title>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand"  href="/index">B站番剧分数排名</a>
	</div>
    <div>
		<ul class="nav navbar-nav">
            <li><a href="/export">
            导出csv文件
            </a></li>
		</ul>
	</div>
	</div>
</nav>
    {% block content %}
    {% endblock %}
</body>
</html>
