{% extends 'base.html' %}
{% block content %}
<body>
<table  class="table table-bordered table-hover" style="width:100%">
    <thead>
    <tr>
        <th style='text-align: center;width:10%'>番剧分数</th>
        <th style='text-align: center;width:10%'>评分人数</th>
        <th style='text-align: center;width:10%'>番名</th>
        <th style='text-align: center;'>简介</th>
        <th style='text-align: center;width:10%'>播放次数</th>
        <th style='text-align: center;width:10%'>开播时间</th>
    </tr>
    </thead>
    <tbody>
    {% for a in anime %}

    <tr >
        <td align="center">{{ a.score }}</td>
        <td  align="center">{{ a.count }}</td>
        <td  align="center"><a href="https://bangumi.bilibili.com/anime/{{a.bangumi_id}}">{{ a.title }}</a></td>
        <td >{{ a.brief }}</td>
        <td  align="center">{{ a.play_count }}</td>
        <td  align="center">{{ a.pub_time }}</td>
    </tr>

    {% endfor %}

    </tbody>

</table>
    <p>
  {% for page_number in anime.paginator.page_range %}
    {% ifequal page_number  anime.number %}
      {{ page_number }}
    {% else %}
      <a href="?page={{ page_number }}">{{ page_number }}</a>
    {% endifequal %}
  {% endfor %}
</p>
</body>
{% endblock %}
